<div >    
    <div class="menu-module">
            <span>
                <img ng-src="{{avatar}}" alt="">
                <h2>{{name}}</h2>

            </span>

            <switcher></switcher>
            
    </div>

            <div class="friends-module">
                <h2><a href="#">Friends:</a></h2>
                <ul ng-repeat='friend in friends'>
                
                    

                    <li><img ng-src="{{friend.avatar}}" alt=""><a href="#">{{friend.name }}</a></li>
                </ul>

                





            </div>

            <div class="exit-button">
                <button ng-click="logout()">logout</button>
            </div>

            <div class='exit-button google'>
                <button ng-click="unlink('google')">unlink google</button>
            </div>
</div>

        