.central-content-top {
    padding: 20px;
    background-color: #E1E1E9;
}

.central-content-top input[name='nameOfPost'] {
    display: block;
    width: 95%;
    padding: 7px;
    font-size: 1.2em;
    margin: 0 auto;
    border: none;
    background-color: #E1E1E9;
}

.central-content-top textarea {
    display: block;
    width: 95%;
    max-width: 95%;
    min-height: 50px;
    max-height: 400px;
    padding: 7px;
    margin: 10px auto;
    border: none;
    font-size: 1.1em;
    background-color: #E1E1E9;
}

.sendPost {
    color: #fff; /* цвет текста */
    text-decoration: none; /* убирать подчёркивание у ссылок */
    user-select: none; /* убирать выделение текста */
    background: #8AC249; /* фон кнопки */
    padding: .7em 1.5em; /* отступ от текста */
    outline: none; /* убирать контур в Mozilla */
    border: none;
    margin: 5px;
    cursor: pointer;
}

.post-img-create img{
    width: 100%;
    margin: 5px 0;

}

.post-img-create {
    border-left: 3px solid #F34235;
    padding: 5px;
    border-bottom: 2px dashed white;
}

.post-p-create{
    border-left: 3px solid #8AC249;
    padding: 5px;
    border-bottom: 2px dashed white;
    width: 100%;
}

.Add {
    color: #fff; /* цвет текста */
    text-decoration: none; /* убирать подчёркивание у ссылок */
    user-select: none; /* убирать выделение текста */
    background: #F34235; /* фон кнопки */
    padding: .7em 1.5em; /* отступ от текста */
    outline: none; /* убирать контур в Mozilla */
    border: none;
    margin: 5px;
    cursor: pointer;
}

.modal .modal-content .modal-body img{
    width: 70%;
    display: block;
    margin: 10px auto;
}

.modal-footer a{
    color:white;
}

/*модаль*/

.modal .modal-body .comments{
    width: 90%;

    margin: auto;
}

.modal .modal-body .comments ul li{
    list-style-type: none;
}

.modal .modal-body form .comments-area{
    min-width: 100%;
    max-width: 100%;
    border-radius: 5px;
    border: 1px solid darkgray;
    display: block;
    margin: auto;

}

.modal .modal-body form input[type='submit']{
    color: #fff; /* цвет текста */
    text-decoration: none; /* убирать подчёркивание у ссылок */
    user-select: none; /* убирать выделение текста */
    background: #8AC249; /* фон кнопки */
    padding: .7em 1.5em; /* отступ от текста */
    outline: none; /* убирать контур в Mozilla */
    border: none;
    margin: 5px;
    cursor: pointer;
}
.modal .modal-body form .add-content{
    color: #fff; /* цвет текста */
    text-decoration: none; /* убирать подчёркивание у ссылок */
    user-select: none; /* убирать выделение текста */
    background: #F34235; /* фон кнопки */
    padding: .7em 1.5em; /* отступ от текста */
    outline: none; /* убирать контур в Mozilla */
    border: none;
    margin: 5px;
    cursor: pointer;

}


.comment-footer ul{
    margin: 0;
    padding: 0;


}
.comment-footer ul li{
    display: inline-block;
    list-style-type: none;
    padding-right: 10px ;
}

.goods{
    width: 100%;
    text-align: center;
}

.goods ul{
    margin:0;
    padding: 10px 0;
    width: 100%;

    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
.goods ul li{
    list-style-type: none;
    display: inline-block;
    width: 23%;
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.goods ul li h3{
    margin: 0;
}
.goods ul li img{
    max-width: 100%;
    max-height: 100px;
    display: block;
    margin: auto;

}

/*модаль*/