*{margin:0;
padding:0;}

body, html {
    font: 16px Century Gothic,
    Trebuchet MS, sans-serif;
    margin: auto;
    height:100%;
    background: #e1e2e9;
    font-size: 1.1em;
}


#line{
    background-color: #e1e2e9;
    position: relative;
    z-index:10;
    width:100%;
    height:1%;

}

#main{
    margin:0 10% 0 10%;
    width:80%;
    min-height:100%;
    border-radius:10px;
    overflow: hidden;
    background-color: #ecedf1;
}

.lside{
    width: 19.4%;
    height:100%;
    vertical-align: top;
    display:inline-block;
}

.linside{
    width: 15.5%;
    background-color:white;
    z-index: 1;
    position:fixed;
    top:0;
    height:100%;
}

.posts {
    margin:1% 0 0 1%;
    vertical-align: top;
    width: 49%;
    display:inline-block;
}

.posts img{
    width:90%;
    margin:0 0 0 5%;
}

.post{
    width:100%;
    border: solid 1px #E0E0E0;
    margin-bottom: 20px;
    background: white;
    text-align: left;
    box-shadow: 6px 7px 29px 0px rgba(0,0,0,0.20);
    padding:10px;
    box-sizing:border-box;

}




footer{
    background: #2B2A29;
    width:100%;
    display: inline-block;
    position:relative;
    z-index:10;
}
footer li{
	list-style-type: none;
    display:inline-block;
}

footer ul{
    padding: 20px;
}

footer a{
    color:white;
    padding: 20px;
    text-decoration:none;
}