	<div class='exit-button'>

	<button ng-click='authVis()'>Войти</button>

	</div>


<div ng-if='visible'>
	<div class='auth' >

		<div>
			<input type="email" placeholder="Email" ng-model="$parent.email">
		</div>

		<div>
			<input type="password" placeholder="Password" ng-model="$parent.password">
		</div>

		<div class='exit-button'>
			<button ng-click="login()" >Submit</button>
		</div>

		<div class='exit-button google'>
			<button ng-click="authenticate('google')">Sign in with Google</button>
		</div>

	</div>

	<div class="blackscreen" ng-click="close()"></div>
</div>